<div> <%= flash[:notice] %></div>

<h2>title:</h2>
<span><%= @book.title %></span>
<h2>body:</h2>
<span><%= @book.body %></span>

<%= link_to 'Edit',edit_book_path(@book.id) %>
<%= link_to 'Back', books_path  %>