<body>

<div> <%= flash[:notice] %></div>

<div class="title-box">
    <h4>Title:</h4>
    <%= @book.title %>
</div>

<div class="body-box">
    <h4>Body:</h4>
    <%= @book.body %>
</div>

<div class="under-link">
    <%= link_to 'Edit',edit_book_path(@book.id) %>
    <p class="line"> | </p>
    <%= link_to 'Back', books_path  %>
</div>

</body>